.app-wrapper{
  margin: 0, auto;
  display: grid;
  width: 1248px;

grid-template-areas: 
"header header"
"nav content";

  grid-template-rows: 90px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.container{
  max-width: 1200px;
  padding: 10px;
  margin: 0 auto;
}

.content-inner{
  display: flex;
  justify-content: space-between;
}

.addSurvey-inner{
  display: flex;
  flex-direction: column;
}

.addSurvey-inner > label{
  margin-top: 10px;
}

.modal{
  width: 400px;
  position: absolute; 
  background: #fff;
  border: 1px solid #000;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
.modal-inner{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.yourQuestions{
  margin-top: 20px;
}

.delete{
  cursor: pointer;
  margin-left: 10px;
}