body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a{
  cursor: pointer;
}

.ansvers{
display: flex;
flex-direction: column;
margin-top: 25px;
}

label > select, input{
  max-width: 200px;
  margin-top: 5px;
  margin-right: 10px;
}
button {
  background-color: #007bff; /* Синяя цветовая схема */
  color: white; /* Белый текст */
  font-size: 16px; /* Размер шрифта */
  padding: 12px 24px; /* Отступы вокруг текста */
  margin: 8px; /* Отступы вокруг элемента */
  border: none; /* Убираем стандартные границы */
  border-radius: 50px; /* Скругленные углы */
  cursor: pointer; /* Изменяем курсор на указатель при наведении */
  transition: background-color 0.3s ease; /* Анимация изменения фона */

  &:hover {
    background-color: #0056b3; /* Темнее синий фон при наведении */
  }

  &:active {
    background-color: #004085; /* Еще темнее синий фон при нажатии */
  }
}

Link {
  text-decoration: none; /* Убираем подчеркивание */
  color: #007bff; /* Цвет текста */
  font-weight: bold; /* Жирный текст */
  font-size: 18px; /* Размер шрифта */
  padding: 10px 15px; /* Отступы вокруг текста */
  border-radius: 5px; /* Скругленные углы */
  display: inline-block; /* Позволяет задать ширину и высоту */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Анимация изменения фона и масштаба */

  &:hover {
    background-color: #0056b3; /* Темнее синий фон при наведении */
    transform: translateY(-2px); /* Немного поднимает ссылку при наведении */
  }

  &:active {
    background-color: #004085; /* Еще темнее синий фон при нажатии */
    transform: translateY(0); /* Возвращаем ссылку в исходное положение после нажатия */
  }
}

p > input {
  margin-right: 10px;
}

label > div > span{
  margin-left: 15px;
}